#######################################
# root files
#######################################
env/
.vscode/

#######################################
# general files
#######################################
*.log
*.csv

#######################################
# frontend files
#######################################
frontend/node_modules/

#######################################
# backend files - django related files
#######################################
*.pot
*.pyc
secrets.json
__pychache/
